<div class="home">
    <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- profile -->
        <div class="profile" id="#home">
            <img class="profile-img" src="img/profile.png" alt="">
            <p>Jay Barot</p>
            <h3>I'm a <span style="color: #02475e;"><b>Web developer.</b></span></h3>

        </div>
</div>