<!-- project -->
    <div class="project" id="project">
        <h1 class="title"><b>My <span style="color: #096786;">Projects</span></b></h1>
        <div class="row">
            <div class="col-md-4 mt-4">
                <img src="img/food.png">
                <div class="card-body">
                    <h5 class="card-title">Food Website</h5>
                    <p class="card-text">In this Practice Project Designing, Developing and
Testing of This Beautiful, Attractive and
Responsive Website is Done by me in Tech Stack i.e. HTML, CSS and JavaScript.</p>
                    <a href="https://jaybarot-food.netlify.app/" target="_blank" class="btn ">View Project</a>
                </div>
            </div>
        </div>
    </div>