<!-- Skill -->
    <div class="skill" id="skill">
        <h1 class="title"><b>My <span style="color: #096786;">Skills</span></b></h1>
        <div class="row">
            <div class="col-md-6 mt-4">
                <li>
                    <h5>HTML</h5><span class="bar"><span class="html"></span></span>80%
                </li>
                <li>
                    <h5>CSS</h5><span class="bar"><span class="css"></span></span>60%
                </li>
                <li>
                    <h5>JAVASCRIPT</h5><span class="bar"><span class="js"></span></span>30%
                </li>
                <li>
                    <h5>Node Js</h5><span class="bar"><span class="react"></span></span>30%
                </li>
            </div>
            <div class="col-md-6">
                <img src="img/skill.svg" alt="">
            </div>
        </div>
    </div>
